<%= form_with(model: playbook) do |form| %>
  <% if playbook.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(playbook.errors.count, 'error') %> prohibited this playbook from being saved:</h2>

      <ul>
        <% playbook.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: 'display: block' %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: 'display: block' %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
