<div id="<%= dom_id playbook %>">
  <p>
    <strong>Name:</strong>
    <%= playbook.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= playbook.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= playbook.user_id %>
  </p>

</div>
