<h1>Playbooks</h1>

<div id="playbooks">
  <% @playbooks.each do |playbook| %>
    <%= render playbook %>
    <p>
      <%= link_to 'Show this playbook', playbook %>
    </p>
  <% end %>
</div>

<%= link_to 'New playbook', new_playbook_path %>
