<%= render @playbook %>

<div>
  <%= link_to 'Steps', playbook_steps_url(@playbook) %>
  <%= link_to 'Plays', playbook_plays_url(@playbook) %>
  <%= link_to 'Edit this playbook', edit_playbook_path(@playbook) %> |
  <%= link_to 'Back to playbooks', root_url %>

  <%= button_to 'Destroy this playbook', @playbook, method: :delete %>
</div>
