<% form_url = play.id ? play_url(play) : playbook_plays_url(playbook_id: params[:playbook_id]) %>
<%= form_with(model: play, url: form_url) do |form| %>
  <% if play.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(play.errors.count, 'error') %> prohibited this play from being saved:</h2>

      <ul>
        <% play.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: 'display: block' %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: 'display: block' %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
