<p>
  <strong>Name:</strong>
  <%= link_to play.playbook.name, playbook_url(play.playbook) %>
  <% if play.playbook.name != play.playbook_data['name'] %>
    <em>(<%= play.playbook_data['name'] %>)</em>
  <% end %>
</p>

<p>
  <strong>Version</strong>
  <%= play.playbook_data['version'] %>
</p>

<p>
  <strong>Description</strong>
  <%= play.playbook_data['content'] %>
</p>
