<div id="<%= dom_id play %>">
  <p>
    <strong>Title:</strong>
    <%= play.title %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= play.status %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= play.started_at %>
  </p>

  <p>
    <strong>Ended at:</strong>
    <%= play.ended_at || '-' %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= play.description %>
  </p>

  <% unless play.considered_done? %>
    <%= button_to 'Finish run', finish_play_url(play), method: :put %>
    <%= button_to 'Fail run', finish_play_url(play, params: { status: 'failed' }), method: :put %>
    <%= button_to 'Abandon run', finish_play_url(play, params: { status: 'abandoned' }), method: :put %>
  <% end %>
</div>
