<%
play.steps_data.each do |step|
  is_current_step = step['id'] == play.current_step_id
%>
  <details <%= is_current_step ? 'open="open"' : '' %>>
    <summary>
      <% if is_current_step %>
        <strong>[Current]</strong>
      <% end %>
      <% if step['status'] %>
        <strong><%= step['status'] %></strong>
      <% end %>
      #<%= step['position'] %> <%= step['name'] %>

      <% if is_current_step && !play.considered_done? %>
        <%= button_to 'Next', next_step_play_url(play_id: play.id), method: :put %>
        <%= button_to 'Skip', next_step_play_url(play_id: play.id, params: { status: 'skipped' }), method: :put %>
        <%= button_to 'Fail', next_step_play_url(play_id: play.id, params: { status: 'failed' }), method: :put %>
      <% end %>
    </summary>

    <div>
      <%= step['content'] %>
    </div>

    <h3>Comments</h3>
    <%= render 'play_step_comments/list', play_step_comments: play.play_step_comments.select { |c| c.step_id == step['id'] } %>
    <%= render 'play_step_comments/form', play_step_comment: PlayStepComment.new(play: play, step_id: step['id']) %>
  </details>
<% end %>
