<h1>Editing play</h1>

<%= render 'form', play: @play %>

<br>

<div>
  <%= link_to 'Show this play', playbook_play_url(@play.playbook, @play) %> |
  <%= link_to 'Back to plays', playbook_plays_path(@play.playbook) %>
</div>
