<h1>Plays</h1>
<p>For playbook: <%= link_to @playbook.name, playbook_url(@playbook) %></p>

<div id="plays">
  <% @plays.each do |play| %>
    <%= render play %>
    <p>
      <%= link_to 'Show this play', playbook_play_url(play.playbook, play) %>
    </p>
  <% end %>
</div>

<%= link_to 'New play', new_playbook_play_path %>
