<%= render @play %>

<h2>Playbook</h2>

<%= render 'plays/playbook', play: @play %>

<h2>Steps</h2>

<%= render 'plays/steps', play: @play %>

<div>
  <%= link_to 'Edit this play', edit_playbook_play_path(@play.playbook, @play) %> |
  <%= link_to 'Back to plays', playbook_plays_path(@play.playbook) %>

  <%= button_to 'Destroy this play', @play, method: :delete %>
</div>
