<% form_url = play_step_comment.id ? play_step_comment_url(play_step_comment) : play_play_step_comments_url(play_step_comment.play) %>
<%= form_with(model: play_step_comment, url: form_url) do |form| %>
  <% if play_step_comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(play_step_comment.errors.count, 'error') %> prohibited this play_step_comment from being saved:</h2>

      <ul>
        <% play_step_comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if play_step_comment.step_id.blank? %>
    <div>
      <%= form.label :step_id, style: 'display: block' %>
      <%= form.number_field :step_id %>
    </div>
  <% else %>
    <%= form.hidden_field :step_id %>
  <% end %>

  <div>
    <%= form.label :content, style: 'display: block' %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
