<div id="play_step_comments">
  <% play_step_comments.each do |play_step_comment| %>
    <%= render play_step_comment %>
    <p>
      <%= link_to 'Edit', edit_play_play_step_comment_url(play_step_comment.play_id, play_step_comment) %>
      <%= button_to 'Destroy', play_step_comment_url(play_step_comment), method: :delete %>
    </p>
  <% end %>
</div>
