<div id="<%= dom_id play_step_comment %>">
  <p>
    <strong>Play:</strong>
    <%= play_step_comment.play_id %>
  </p>

  <p>
    <strong>Step:</strong>
    <%= play_step_comment.step_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= play_step_comment.content %>
  </p>

</div>
