<h1>Editing play step comment</h1>

<%= render 'form', play_step_comment: @play_step_comment %>

<br>

<div>
  <%= link_to 'Back to play', playbook_play_url(@play_step_comment.play.playbook_id, @play_step_comment.play.id) %>
</div>
