<h1>New play step comment</h1>

<%= render 'form', play_step_comment: @play_step_comment %>

<br>

<div>
  <%= link_to 'Back to play step comments', play_play_step_comments_path(params[:play_id]) %>
</div>
