<p style="color: green"><%= notice %></p>

<%= render @play_step_comment %>

<div>
  <%= link_to 'Edit this play step comment', edit_play_step_comment_path(@play_step_comment) %> |
  <%= link_to 'Back to play step comments', play_step_comments_path %>

  <%= button_to 'Destroy this play step comment', @play_step_comment, method: :delete %>
</div>
