<% form_url = step.id ? step_url(step) : playbook_steps_url(playbook_id: params[:playbook_id]) %>
<%= form_with(model: step, url: form_url) do |form| %>
  <% if step.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(step.errors.count, 'error') %> prohibited this step from being saved:</h2>

      <ul>
        <% step.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: 'display: block' %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :content, style: 'display: block' %>
    <%= form.text_area :content %>
  </div>

  <% if step.id %>
  <div>
    <%= form.label :position, style: 'display: block' %>
    <%= form.number_field :position %>
  </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
