<div id="<%= dom_id step %>">
  <p>
    <strong>Playbook:</strong>
    <%= step.playbook_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= step.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= step.content %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= step.position %>
  </p>

</div>
