<h1>Editing step</h1>

<%= render 'form', step: @step %>

<br>

<div>
  <%= link_to 'Show this step', playbook_step_path(@step.playbook, @step) %> |
  <%= link_to 'Back to steps', playbook_steps_path(@step.playbook) %>
</div>
