<h1>Steps</h1>
<p>For playbook: <%= link_to @playbook.name, playbook_url(@playbook) %></p>

<div id="steps">
  <% @steps.each do |step| %>
    <%= render step %>
    <p>
      <%= link_to 'Show this step', playbook_step_path(step.playbook, step) %>
    </p>
  <% end %>
</div>

<%= link_to 'New step', new_playbook_step_path %>
