<%= render @step %>

<div>
  <%= link_to 'Edit this step', edit_playbook_step_path(@step) %> |
  <%= link_to 'Back to steps', playbook_steps_path %>

  <%= button_to 'Destroy this step', @step, method: :delete %>
</div>
