<!DOCTYPE html>
<html>
  <head>
    <title>Carido</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-prefetch" content="false">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application', 'data-turbo-track' => 'reload' %>
  </head>

  <body>
    <% if current_user %>
    <%= button_to t('.logout'), destroy_user_session_url, method: :delete %>
    <% else %>
    <%= link_to t('.login'), new_user_session_url %>
    <% end %>
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
  </body>
</html>
